.DS_Store
op_spam_v1.4/.DS_Store
op_spam_v1.4/positive_polarity/.DS_Store
op_spam_v1.4/negative_polarity/.DS_Store
op_spam_v1.4/negative_polarity/deceptive_from_MTurk/.DS_Store
op_spam_v1.4/negative_polarity/deceptive_from_MTurk/fold1/.DS_Store
op_spam_v1.4/positive_polarity/deceptive_from_MTurk/.DS_Store
op_spam_v1.4/positive_polarity/deceptive_from_MTurk/fold1/.DS_Store
__pycache__/
